a) plt.savefig('plot_image.png')
b) df.fillna(0)
c) plt.ylim(-10,10)
e) transparent= True
g) df.isnull().sum()

In [32]:
#2)a)i
import pandas as pd
month=['January','February','March','April','May','June']
rainfall=[80,65,90,78,105,120]
df=pd.Series(data=rainfall, index= month)
print(df)
print(df['May'])

January      80
February     65
March        90
April        78
May         105
June        120
dtype: int64
105

In [11]:
#2)a)ii
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'IT', 'Finance', None, 'Marketing'],
    'Years of Experience': [5, None, 8, 6, None]
}

df = pd.DataFrame(data)


print(df.isnull().sum())


df.dropna(subset='Department', inplace=True)


df['Years of Experience'] = df['Years of Experience'].fillna(df['Years of Experience'].mean());

df

Name                   0
Department             1
Years of Experience    2
dtype: int64

      Name Department  Years of Experience
0    Alice         HR                  5.0
1      Bob         IT                  6.5
2  Charlie    Finance                  8.0
4      Eva  Marketing                  6.5

In [2]:
#b)i
#1
import numpy as np
import pandas as pd
df1=pd.DataFrame({
    'Name': ["Alice","Bob","Charlie"],
    'Age': [25,30,35],
    'Score': [85,90,95]
})
df2=pd.DataFrame({
    'Name': ["David","Eva","Frank"],
    'Age': [22,28,32],
    'Score': [75,80,85]
})
df3=pd.concat([df1,df2])
print(df3)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95
0    David   22     75
1      Eva   28     80
2    Frank   32     85

In [3]:
#2)
import numpy as np
array1=np.array([1,2,3])
array2=np.array([4,5,6])
array3=np.concatenate((array1,array2))
print(array3)

[1 2 3 4 5 6]

In [17]:
#b)i)3

import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    'id':['1','2','3'],
    'Name':['Alice','Bob','Charlie'],
    'Score':[85,90,95]
})

df2=pd.DataFrame({
    'id':['1','2','4'],
    'age':[25,30,35],
    'city':['New York','London','Paris']
})
df3=pd.concat([df1,df2],join='inner',axis=1)
print(df3)
df4=pd.concat([df1,df2],join='outer',axis=1)
print(df4)

  id     Name  Score id  age      city
0  1    Alice     85  1   25  New York
1  2      Bob     90  2   30    London
2  3  Charlie     95  4   35     Paris
  id     Name  Score id  age      city
0  1    Alice     85  1   25  New York
1  2      Bob     90  2   30    London
2  3  Charlie     95  4   35     Paris

In [6]:
#b)i)4
import pandas as pd
df1 = pd.DataFrame({
    'id': ['1','2'],
    'Age':['25', '30'],
    'Score':['80', '90']
    })

df2 = pd.DataFrame({  'id': ['12','13'],
                  'AGE': ['2','3'],
                    'CITY' : ['New York', 'London']
                    })
df3 = pd.merge(df1, df2, on='id', how='left')
print(df3)

df4 = pd.merge(df1, df2, on='id', how='right')
print(df4)

df5 = pd.merge(df1, df2, on='id', how='inner')
print(df5)

df6 = pd.merge(df1, df2, on='id', how='outer')
print(df6)

  id Age Score  AGE CITY
0  1  25    80  NaN  NaN
1  2  30    90  NaN  NaN
   id  Age Score AGE      CITY
0  12  NaN   NaN   2  New York
1  13  NaN   NaN   3    London
Empty DataFrame
Columns: [id, Age, Score, AGE, CITY]
Index: []
   id  Age Score  AGE      CITY
0   1   25    80  NaN       NaN
1  12  NaN   NaN    2  New York
2  13  NaN   NaN    3    London
3   2   30    90  NaN       NaN

In [19]:
#b)i)5
import pandas as pd
df = pd.DataFrame({
    'product': ['A', 'B', 'A', 'C', 'B', 'A', 'C'],
    'region': ['East', 'West', 'East', 'West', 'East', 'West', 'East'],
    'sales': [1000, 2000, 1500, 3000, 2500, 1200, 3500],
    'date': ['2023-10-26', '2023-10-26', '2023-10-27', '2023-10-27', '2023-10-28', '2023-10-28', '2023-10-29']
})

print(df)


region_sales = df.groupby('region')['sales'].sum()
print(region_sales)


product_avg_sales = df.groupby('product')['sales'].mean()
print(product_avg_sales)

  product region  sales        date
0       A   East   1000  2023-10-26
1       B   West   2000  2023-10-26
2       A   East   1500  2023-10-27
3       C   West   3000  2023-10-27
4       B   East   2500  2023-10-28
5       A   West   1200  2023-10-28
6       C   East   3500  2023-10-29
region
East    8500
West    6200
Name: sales, dtype: int64
product
A    1233.333333
B    2250.000000
C    3250.000000
Name: sales, dtype: float64